@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-brand-dark: #0f0715;
  --color-brand: #8750f7;
  --color-brand-semi-dark: #140c1c;
}

body {
  background-image: url("/dot.svg");
  background-position: 0 0;
  background-size: 90px;
  background-attachment: fixed;
}

.overlay {
  background-image: url("/dot.svg");
  background-position: 0 0;
  background-size: 90px;
  background-attachment: fixed;
}


/* Styling the scrollbar for elements with the .custom-scrollbar class */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  /* Using your brand-dark color for the track */
  background: var(--color-brand-dark); 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  /* Using your main brand purple for the handle */
  background-color: var(--color-brand);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  /* Optional: slightly dim or brighten on hover */
  filter: brightness(1.2);
}

/* For Firefox support */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-brand) var(--color-brand-dark);
}
